@page "/"
@page "/Users"

<style>
    textarea{
        max-width: 250px;
        min-width: 150px;
        max-height: 250px;
        min-height: 50px;
    }
</style>

<html>
    <title>Users</title>
    <link rel="stylesheet" href="css/Users.css">
    <meta charset="utf-8" />
    <body>
        <center>
            <div id="UserTableDiv">
              <table id="UserTable">
                <thead>
                    <tr>
                        <th scope="col" style="min-width:15px">ID</th>
                        <th scope="col">Name </th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Address</th>
                        <th scope="col">City/State</th>
                        <th scope="col">Zip Code</th>
                        <th scope="col">Phone Number</th>
                    </tr>
                </thead>
                <tbody>
                    @* This loop will be replaced with User List API *@
                    @if (UserList != null)
                    {
                        @for (int i = 0; i < UserList.Count; i++)
                        {
                            <tr>
                                @* ID *@
                                <td style="min-width:15px">@(UserList[i].ID)</td>

                                @* Name *@
                                <td>@(UserList[i].FirstName + UserList[i].LastName)</td>

                                @* Email *@
                                <td>@(UserList[i].Email)</td>

                                @* Address *@
                                <td style="max-width: 250px;"><textarea>@(UserList[i].Address)</textarea></td>

                                @* City/State *@
                                <td>@(UserList[i].City)/@(UserList[i].State)</td>

                                @* Zip Code *@
                                <td>@(UserList[i].ZipCode!=null ? UserList[i].ZipCode : "Not Specified")</td>

                                @* Phone *@
                                <td>@(UserList[i].Phone)</td>
                            </tr>
                        }
                    }
                </tbody>
              </table>
            </div>
        <NavLink href="/AddUser"> <button>  Add New User  </button> </NavLink>
        </center>
    </body>
</html>

@code{
    static public List<User> UserList = new List<User>();

}